@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');
body {
    margin: 45px 26px;
    position: relative;
    overflow: hidden;
    color: #020301;
}

@media(max-width:800px) {
    body {
        margin: 0;
    }
}

.postits {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 50px);
    font-size: 13.3px;
    font-family: serif;
}


/*
@media(max-width:800px) {
    .postits {
        width: 200%;
        height: calc(200vh - 50px);
        transform: scale(0.5);
        transform-origin: top left;
    }
}*/

.postits.static {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    height: auto;
}

.postit {
    transition: 1s;
    position: absolute;
    background-color: #ffd;
    height: 100px;
    width: 100px;
    padding: 10px;
    hyphens: manual;
    overflow: hidden;
    border-bottom-right-radius: 20px;
    overflow-wrap: anywhere;
    box-shadow: 6px 14px 12px -7px #4442;
}

.postit.placed {
    transition-delay: 0;
}

.postit:hover {
    transform: skew(10deg) translate(10px);
    transition: 0.2s;
    transition-delay: 0s!important;
}

.postit.noPlace {
    position: relative;
    margin: 20px;
}

.postit.prepost {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transform: skewx(30deg) translateX(70px);
}

button.new {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 20px;
}


/* 
.new:not(.moving) {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    padding: 13px;
} */

.container {
    position: relative;
}

.header {
    height: 45px;
    margin: 10px;
    font-family: 'Trispace', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hiddenAnchor {
    color: inherit;
    text-decoration: inherit;
}

header * {
    color: inherit!important;
}